{% if is_paginated %}
    <nav aria-label="Paginacao" class="mt-4">
        <ul class="pagination pagination-sm flex-wrap mb-0">
            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">Anterior</a>
            </li>
            {% for page_number in paginator.page_range %}
                {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ page_number }}</span></li>
                {% elif page_number >= page_obj.number|add:"-2" and page_number <= page_obj.number|add:"2" %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">Proxima</a>
            </li>
        </ul>
    </nav>
{% endif %}
